@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  @apply font-inter;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #aaa #f5f5f5;
}

body {
  margin: 0 auto;
  background-color: #f5f5f5;
  width: clamp(320px, 100%, 1400px);
}

.categories {
  scroll-snap-type: x mandatory;
}

.categories > div {
  scroll-snap-align: left;
}

.clipped {
  clip-path: polygon(0 0, 83% 0, 32% 100%, 0% 100%);
}

.navClip {
  clip-path: circle(4% at 4% 4%);
}

.navClipOpen {
  clip-path: circle(140% at 4% 4%);
}

.edit {
  clip-path: circle(0% at 100% 100%);
}
.editOpen {
  clip-path: circle(141.4% at 100% 100%);
}
